@model List<Cargo>

<div class="col-sm-6">
    <h2>Cargos registrados</h2>
    <table style="margin-bottom:15px;margin-top:15px"
           class="table table-hover table-striped">
        <thead>
            <tr class="table-active">
                <th>Nome</th>
                <th>Salario</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Cargo item in Model)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.Salario</td>
                    <td class="text-right">
                        <a class="btn btn-danger" asp-action="Remover" asp-route-id="@item.CargoId">Remover</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-sm-6">
    <h2>Registrar Cargo</h2>
    <form asp-action="Index" method="post">
        <fieldset>
            <legend>Cadastrar Produto</legend>
            <div asp-validation-summary="ModelOnly" class="text-primary"></div>

            <div class="form-group" id="Nome">
                <label>Nome</label>
                <input type="text" name="txtNome" id="txtNome" class="form-control" />
            </div>

            <div class="form-group" id="Descricao">
                <label>Salario</label>
                <input type="text" name="txtSalario" id="txtSalario" class="form-control" />
            </div>

            <input type="submit" class="btn btn-success" value="Cadastrar" />
        </fieldset>
    </form>
</div>


