@model List<Funcionario>

<h2>Gerenciamento de Funcionarios</h2>
<a class="btn btn-info" asp-action="Cadastrar">Cadastrar Funcionario</a>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Funcionario item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Cpf</td>
                <td class="text-right">
                    <a class="btn btn-danger" asp-action="Remover" asp-route-id="@item.FuncionarioId">Remover</a>
                    <a class="btn btn-warning" asp-action="Alterar" asp-route-id="@item.FuncionarioId">Alterar</a>
                </td>
            </tr>
        }
    </tbody>
</table>


